ansible==10.7.0
ansible-core==2.17.11
cffi==1.17.1
click==8.1.8
cryptography==44.0.2
Jinja2==3.1.6
joblib==1.4.2
MarkupSafe==3.0.2
nltk==3.9.1
numpy==2.2.5
packaging==25.0
pandas==2.2.3
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
resolvelib==1.0.1
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
